{% include 'base.html.twig' %}

{#<div class="col-lg-6 verify-account-before-checkout">#}
    {#<h2 class="verify-checkout-header">Finalize Checkout</h2> <br/>#}
    {#{{ form_start(form, {#}
        {#'action': path('applyCheckout'),#}
    {#}#}
    {#)#}
    {#}}#}

    {#<div class="verify-before-checkout col-lg-12">#}
        {#{{ form_widget(form) }}#}
    {#</div>#}
{#</div>#}