{% include 'base.html.twig' %}

<div class="col-lg-6 add-products-to-existing-promotion">
    <h2 class="add-product-header">Add Products To Existing Promotion</h2> <br/>
    {{ form_start(form, {
        'action': path('productsOnExistingPromotion'),
    }
    )
    }}

    <div class="add-product-form-widget col-lg-12">
        {{ form_widget(form) }}
    </div>
</div>

<script type="text/javascript">
    $('#app_products_on_existing_promotion_discount').change(function () {
        var promotionID = $(this).val();
        $.ajax({
            'url': "/app_dev.php/nonExistingProducts/byPromotion",
            'type': "POST",
            'dataType': "json",
            'data': { 'promotionID': promotionID },
            'success': function (data) {
                var workArray = data[0];
                var currentProducts = $('#app_products_on_existing_promotion_product');
                currentProducts.attr("disabled", false);
                currentProducts.empty();
                console.log(workArray);
                $.each(workArray, function (k, v) {
                    currentProducts.append($("<option></option>")
                        .attr("value", v['id'])
                        .text(v['title']));
                });
            }
        });
    });
</script>