{% extends 'base.html.twig' %}

{% block body %}
<div id="wrapper">
    <div class="container">
        hello
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
