{% trans_default_domain 'FOSUserBundle' %}
<h2 align="center">Register</h2>

<div class="col-lg-6 col-lg-offset-3">
    {{
    form_start(form, {'method': 'post',
                         'action': path('fos_user_registration_register'),
                         'attr': {'class': 'fos_user_registration_register'}})
    }}

    {{ form_widget(form) }}
    <div class="form-group">
        <input type="submit"
               class="btn btn-success"
               value="{{ 'Register'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>
