{% include 'base.html.twig' %}

<div class="col-lg-6 update-product">
    <h2 class="add-product-header">Update Product</h2> <br/>
    {{ form_start(form, {
        'action': path('updateProduct'),
        }
    )
    }}

    <div class="update-product-form-widget col-lg-12">
        {{ form_widget(form) }}
    </div>
</div>