{% include 'base.html.twig' %}

<head>
    <link rel="stylesheet" href="{{ asset('css/list-all-users-grid.css') }}">
</head>

<div class="col-lg-12 user-management-list-users">
    {% if grid is not null %}
        {{ grid(grid) }}
    {% endif %}
</div>