.shop-items {
    display: block;
    margin-bottom: 250px;
    font-size: 25px;
}

.shop-items:after {
    display: block;
    border-top: 4px solid grey;
}

.success-message-item-add-to-cart {
    top: -200px;
    left: 427px;
}

.error-message-item-add-to-cart {
    top: -200px;
    left: 427px;
}