.shop-items {
    display: block;
    margin-bottom: 30px;
    font-size: 15px;
}

.shop-items:after {
    display: block;
    border-top: 4px solid grey;
}

.not-enough-money-message-ordering-item {
    margin-bottom: 20px;
    margin-left: 40px;
}


.error-message-item-add-to-cart {
    margin-bottom: 20px;
    margin-left: 40px;
}

.success-message-item-add-to-cart {
    margin-left: 40px;
}

.info-message-no-items-in-grid {
    margin-top: 70px;
    margin-left: 10px;
}

.success-message-removed-ordered-item {
    margin-bottom: 20px;
    margin-left: 40px;
}