body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url(https://subtlepatterns.com/patterns/kindajean.png);
}

.alertify-message-adding-product-existing-promotion {
    margin-top: -10px;
}

.money-placement {
    text-align: center;
    margin-top: 15px;
}

.user-change-password {
    margin-top: 60px;
}

.add-product {
    margin-top: 60px;
}

.main-update-profile {
    margin-top: 0px;
}

.shop-items {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="_username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="_password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.update-profile {
    display:inline;
    clear:left;
}

.container {
    background: #fff;
}

nav.navbar .container {
    background: none !important;
}

.test-style {
    margin-top: 70px;
    border: 1px solid #eee;
    padding: 20px 0 50px 0;
    margin-bottom: 50px;
}

.menu_level_1 {
    list-style: none;
    padding-left: 0;
    height: 250px;
    overflow-y: auto;
}
.menu_level_1 li a {
    width: 100%;
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    padding: 5px 5px;
}

.menu_level_1 li a:hover {
    background: #aaa;
    color: #fff;
}