{% include 'base.html.twig' %}

{% if app.session.flashbag.has('successfully-added-category') %}
    <div class="col-xs-4 alert alert-info successfully-added-category">
        {% for flashMessage in app.session.flashbag.get('successfully-added-category') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

{% if app.session.flashbag.has('failed-adding-category') %}
    <div class="col-xs-4 alert alert-info failed-adding-category">
        {% for flashMessage in app.session.flashbag.get('failed-adding-category') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
{% endif %}

<div class="col-lg-12 add-category">
    <h2 class="add-category-header">Add Category</h2> <br/>
    {{ form_start(form, {
        'action': path('addCategory'),
        }
    )
    }}

    <div class="add-category-form-widget col-lg-12">
        {{ form_widget(form) }}
    </div>
</div>